@import 'styles/_variables';
@import 'styles/_mixins';

.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.headingContainer {
    display: flex;
    justify-content: center;
    height: 663px;
    width: 100%;
    background-color: $copper;

    @include mobile {
        height: 223px;
    }
}

.headingTextContainer {
    margin-top: 206px;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 8px solid rgba($platinum, 0.46);
    
    & > h2 {
        color: $platinum;
        font-family: 'Roboto';
        font-size: 140px;
        text-transform: uppercase;
        line-height: 112px;
    }

    @include mobile {
        margin-top: 50px;
        border: none;

        & > h2 {
            font-size: 40px;
            line-height: 20px;
        }
    }
}

.imageContainer {
    position: absolute;
    bottom: 0px;
    max-width: 895px;

    & > img {
        width: 100%;
        height: auto;
    }

    @include mobile {
        max-width: 339px;
    }
}