@import 'styles/_variables';
@import 'styles/_mixins';

.submitButton {
    cursor: pointer;
    padding: 15px 25px;
    background-color: $copper;
    border-width: 0;
    border-radius: 60px;
    transition: all 0.3s;
    outline: none;
    
    & > p {
        color: $isabelline;
        font-family: klukva;
        font-size: 35px;
        margin: 0;
    }

    &:hover {
        background-color: $tumbleweed;
    }

    @include mobile {
        padding: 10px 15px;

        & > p {
            font-size: 25px;
        }
    }
}