$tumbleweed: #EEA48D;
$copper: #E38569;
$englishRed: #9D444E;
$dolphinGray: #788E83;
$isabelline: #F5F1F0;
$platinum: #DFEBE9;
$outerSpace: #44514B;
$quickSilver: #A4A4A4;
$black: #000000;
$white: #FFFFFF;