@import 'styles/_variables';

.sectionContainer {
    display: flex;
    justify-content: center;
    padding: 20px 28px;
    background-color: $copper;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;

    & > p:first-of-type {
        color: $platinum;
        font-family: Roboto;
        font-size: 36px;
    }

    & > p:last-of-type {
        color: $platinum;
        font-family: Roboto;
        font-size: 22px;
    }
}

.linksContainer {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 8px;

    & > p {
        color: $platinum;
        font-family: Roboto;
        font-size: 22px;
    }
}

.iconContainer {
    width: 30px;
    height: 30px;
    
    & > img {
        width: 100%;
        height: auto;
    }
}