@import 'styles/_variables';

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px 100px;
}

.headingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    max-width: 600px;

    & > h2 {
        margin: 0;
        color: $dolphinGray;
        font-family: klukva;
        font-size: 60px;
        text-align: left;
    }
}

.imageContainer {
    max-width: 876px;

    & > img {
        width: 100%;
        height: auto;
    }
}