@import 'styles/_variables';

.sectionContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.contentWrapper {
    width: 100%;
    max-width: 1300px;

    & > h2 {
        color: $dolphinGray;
        font-family: 'Roboto';
        font-size: 85px;
    }
}

.feedbacksListContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    list-style: none;
}

.feedbackItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px 28px 20px;
    max-width: 300px;
    max-height: 950px;
    background-color: $platinum;
    border: 1px solid $quickSilver;
    border-radius: 85px;
    box-shadow: 0px 4px 4px 0px rgba($black, 0.25);
    
    & > p {
        color: $black;
        font-family: klukva;
        font-size: 26px;
        text-align: center;
    }

    & > p:first-of-type {
        font-weight: 700;
        font-size: 28px;
    }

    & > p:last-of-type {
        margin-top: 10px;
    }
}

.customerIconWrapper {
    max-width: 200px;
    max-height: 200px;

    & > img {
        width: 100%;
        height: auto;
    }
}