@import 'styles/_variables';

.sectionContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.contentList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 150px;
    row-gap: 80px;
    max-width: 1610px;
}

.listItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    width: 300px;

    & > h4 {
        color: $englishRed;
        font-family: klukva;
        font-size: 35px;
    }

    & > p {
        color: $englishRed;
        font-family: klukva;
        font-size: 30px;
    }
}

.iconContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: $copper;
    border-radius: 100%;
    overflow: hidden;
    & > img {
        width: 110px;
        height: auto;
        max-height: 150px;
    }
}